#Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log
.git

#Development
Tiltfile
docker-compose.yml
kubernetes

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macos
.DS_Store